<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mr.PotatoHead3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC68AE8B1C6F6050002C474B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC68AE9F1C6F6050002C474B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC68AEAA1C6F6050002C474B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
